AWSTemplateFormatVersion: '2010-09-09'

Parameters:
  BucketCreationNeededParam:
    Description: Weather to create s3 bucket.
    Default: no
    Type: String

Conditions:
  BucketCreationNeeded: !Equals [ !Ref BucketCreationNeededParam, yes ]

Resources:
  lambdaBucket:
    Type: "AWS::S3::Bucket"
    Condition: BucketCreationNeeded
    Properties:
      BucketName: hdc-lambda
